@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grdt-from: #5e18f5;
  --grdt-via: #50aaf8;
  --grdt-to: #6ae5b5;
  --border-active: #a1a1aa;
  --border-inactive: #27272a;
}

html,
body {
  @apply bg-zinc-950;
}

.lock-scroll {
  overflow: hidden;
}

/* STYLED SLIDER */
input[type='range'].styled-slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

input[type='range'].styled-slider:focus {
  outline: none;
}

input[type='range'].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0.5rem;
  height: 2rem;
  background: #ffffff;
}

input[type='range'].styled-slider::-moz-range-thumb {
  width: 0.5rem;
  height: 2rem;
  background: #ffffff;
}

.animate-shooting-star {
  animation: infinite both cubic-bezier(0.55, 0.085, 0.68, 0.53) shooting-star;
}

@keyframes shooting-star {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100svh);
    opacity: 1;
  }
}

.animate-appear {
  animation: appear 0.75s cubic-bezier(0, 0.55, 0.45, 1) both;

  + .animate-appear {
    animation-delay: 0.2s;

    + .animate-appear {
      animation-delay: 0.4s;

      + .animate-appear {
        animation-delay: 0.6s;

        + .animate-appear {
          animation-delay: 0.8s;
        }
      }
    }
  }
}

.no-transition .animate-appear {
  animation: none;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* MAGIC WAND */

.magic-wand {
  position: relative;
  width: 0.375rem;
  height: 2.5rem;
  transform: rotate(25deg);
  transform-origin: 50% 100%;
  animation-name: magicWand;
  animation-duration: 6s;
  animation-delay: -3.9s;
  animation-fill-mode: both;
  animation-direction: reverse;
  animation-iteration-count: infinite;
  animation-timing-function: linear(
    0,
    0.421 7%,
    0.672 12.3%,
    0.821 17.3%,
    0.857 19.7%,
    0.87 22.1%,
    0.862 24.1%,
    0.838 26.2%,
    0.741 30.5%,
    0.022 49.3%,
    -0.113 54.2%,
    -0.192 58.9%,
    -0.219 62.9%,
    -0.214 67.2%,
    -0.184 71.4%,
    -0.074 81.6%,
    -0.032 86.7%,
    -0.006 92.6%,
    0
  );

  .particles {
    position: absolute;
    top: 2px;
    left: 0;
    width: 6px;
    height: 6px;

    .particle {
      --shadow-retract: 0;
      box-shadow: 0 0 0.1rem 1px var(--grdt-to);
      position: absolute;
      inset: 0;
      border: 1.5px solid var(--grdt-to);
      background: transparent;
      border-radius: 50%;
      animation-duration: 6s;
      animation-delay: -3s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);

      &:nth-child(1) {
        animation-name: particle1;
      }

      &:nth-child(2) {
        animation-name: particle2;
      }

      &:nth-child(3) {
        animation-name: particle3;
      }

      &:nth-child(4) {
        animation-name: particle4;
      }

      &:nth-child(5) {
        animation-name: particle5;
      }
    }
  }
}

@keyframes magicWand {
  0%,
  85% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(-15deg) translate(-0.5rem, -0.375rem);
  }
}

@keyframes particle1 {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  8% {
    opacity: 1;
  }
  15%,
  100% {
    opacity: 0;
    transform: translateX(-1.5rem);
  }
}

@keyframes particle2 {
  0% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
  8% {
    opacity: 1;
  }
  15%,
  100% {
    opacity: 0;
    transform: translateX(-1.1rem) translateY(-1.1rem);
  }
}

@keyframes particle3 {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  8% {
    opacity: 1;
  }
  15%,
  100% {
    opacity: 0;
    transform: translateY(-1.5rem);
  }
}

@keyframes particle4 {
  0% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
  8% {
    opacity: 1;
  }
  15%,
  100% {
    opacity: 0;
    transform: translateX(1.1rem) translateY(-1.1rem);
  }
}

@keyframes particle5 {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  8% {
    opacity: 1;
  }
  15%,
  100% {
    opacity: 0;
    transform: translateX(1.5rem);
  }
}

/* ANIMATE ONCE */
@keyframes moveXAnimationOnce {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes moveYAnimationOnce {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes widthAnimationOnce {
  0% {
    width: 25%;
  }
  100% {
    width: 75%;
  }
}
@keyframes heightAnimationOnce {
  0% {
    height: 25%;
  }
  100% {
    height: 75%;
  }
}
@keyframes scaleAnimationOnce {
  0% {
    transform: scale(1);
    border-width: 1px;
  }
  100% {
    transform: scale(2);
    border-width: 0.33px;
  }
}
@keyframes rotateAnimationOnce {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes opacityAnimationOnce {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotateXAnimationOnce {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateX(179.9deg);
  }
}
@keyframes rotateYAnimationOnce {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateY(179.9deg);
  }
}
@keyframes shapeAnimationOnce {
  0% {
    border-radius: 0.75rem;
  }
  100% {
    border-radius: 50%;
  }
}
/* ANIMATE ONCE REVERSE */
@keyframes moveXAnimationOnceReverse {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes moveYAnimationOnceReverse {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes widthAnimationOnceReverse {
  0% {
    width: 75%;
  }
  100% {
    width: 25%;
  }
}
@keyframes heightAnimationOnceReverse {
  0% {
    height: 75%;
  }
  100% {
    height: 25%;
  }
}
@keyframes scaleAnimationOnceReverse {
  0% {
    transform: scale(2);
    border-width: 0.33px;
  }
  100% {
    transform: scale(1);
    border-width: 1px;
  }
}
@keyframes rotateAnimationOnceReverse {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes opacityAnimationOnceReverse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotateXAnimationOnceReverse {
  0% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateX(179.9deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes rotateYAnimationOnceReverse {
  0% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateY(179.9deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes shapeAnimationOnceReverse {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0.75rem;
  }
}
/* ANIMATE INFINITE */
@keyframes moveXAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    transform: translateX(-100%);
  }
  37.5%,
  62.5% {
    transform: translateX(100%);
  }
}
@keyframes moveYAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    transform: translateY(-100%);
  }
  37.5%,
  62.5% {
    transform: translateY(100%);
  }
}
@keyframes widthAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    width: 25%;
  }
  37.5%,
  62.5% {
    width: 75%;
  }
}
@keyframes heightAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    height: 25%;
  }
  37.5%,
  62.5% {
    height: 75%;
  }
}
@keyframes scaleAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    transform: scale(1);
    border-width: 1px;
  }
  37.5%,
  62.5% {
    transform: scale(2);
    border-width: 0.33px;
  }
}
@keyframes rotateAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    transform: rotate(0deg);
  }
  37.5%,
  62.5% {
    transform: rotate(90deg);
  }
}
@keyframes opacityAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    opacity: 0;
  }
  37.5%,
  62.5% {
    opacity: 1;
  }
}
@keyframes rotateXAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    transform: rotateX(0deg);
  }
  37.5%,
  62.5% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateX(179.9deg);
  }
}
@keyframes rotateYAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    transform: rotateY(0deg);
  }
  37.5%,
  62.5% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateY(179.9deg);
  }
}
@keyframes shapeAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    border-radius: 0.75rem;
  }
  37.5%,
  62.5% {
    border-radius: 50%;
  }
}

/* ANIMATE WIGGLE ONCE */
@keyframes moveXAnimationWiggleOnce {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes moveYAnimationWiggleOnce {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes widthAnimationWiggleOnce {
  0% {
    width: 25%;
  }
  100% {
    width: 75%;
  }
}
@keyframes heightAnimationWiggleOnce {
  0% {
    height: 25%;
  }
  100% {
    height: 75%;
  }
}
@keyframes scaleAnimationWiggleOnce {
  0% {
    transform: scale(1);
    border-width: 1px;
  }
  100% {
    transform: scale(2);
    border-width: 0.33px;
  }
}
@keyframes rotateAnimationWiggleOnce {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes opacityAnimationWiggleOnce {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotateXAnimationWiggleOnce {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateX(179.9deg);
  }
}
@keyframes rotateYAnimationWiggleOnce {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateY(179.9deg);
  }
}
@keyframes shapeAnimationWiggleOnce {
  0% {
    border-radius: 0.75rem;
  }
  100% {
    border-radius: 50%;
  }
}

/* ANIMATE WIGGLE ONCE REVERSE */
@keyframes moveXAnimationWiggleOnceReverse {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes moveYAnimationWiggleOnceReverse {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes widthAnimationWiggleOnceReverse {
  0% {
    width: 25%;
  }
  100% {
    width: 75%;
  }
}
@keyframes heightAnimationWiggleOnceReverse {
  0% {
    height: 25%;
  }
  100% {
    height: 75%;
  }
}
@keyframes scaleAnimationWiggleOnceReverse {
  0% {
    transform: scale(1);
    border-width: 1px;
  }
  100% {
    transform: scale(2);
    border-width: 0.33px;
  }
}
@keyframes rotateAnimationWiggleOnceReverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes opacityAnimationWiggleOnceReverse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotateXAnimationWiggleOnceReverse {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateX(179.9deg);
  }
}
@keyframes rotateYAnimationWiggleOnceReverse {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateY(179.9deg);
  }
}
@keyframes shapeAnimationWiggleOnceReverse {
  0% {
    border-radius: 0.75rem;
  }
  100% {
    border-radius: 50%;
  }
}

/* 0%,
12.5%,
87.5%,
100% {
  transform: translateX(-100%);
}
37.5%,
62.5% {
  transform: translateX(100%);
} */

/* ANIMATE WIGGLE INFINITE */
@keyframes moveXAnimationWiggleInfinite {
  0%,
  25% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes moveYAnimationWiggleInfinite {
  0%,
  25% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes widthAnimationWiggleInfinite {
  0%,
  25% {
    width: 25%;
  }
  100% {
    width: 75%;
  }
}
@keyframes heightAnimationWiggleInfinite {
  0%,
  25% {
    height: 25%;
  }
  100% {
    height: 75%;
  }
}
@keyframes scaleAnimationWiggleInfinite {
  0%,
  25% {
    transform: scale(1);
    border-width: 1px;
  }
  100% {
    transform: scale(2);
    border-width: 0.33px;
  }
}
@keyframes rotateAnimationWiggleInfinite {
  0%,
  25% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes opacityAnimationWiggleInfinite {
  0%,
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotateXAnimationWiggleInfinite {
  0%,
  25% {
    transform: rotateX(0deg);
  }
  100% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateX(179.9deg);
  }
}
@keyframes rotateYAnimationWiggleInfinite {
  0%,
  25% {
    transform: rotateY(0deg);
  }
  100% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateY(179.9deg);
  }
}
@keyframes shapeAnimationWiggleInfinite {
  0%,
  25% {
    border-radius: 0.75rem;
  }
  100% {
    border-radius: 50%;
  }
}
