@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grdt-from: #5e18f5;
  --grdt-via: #50aaf8;
  --grdt-to: #6ae5b5;
}

html,
body {
  @apply bg-zinc-950;
}

/* STYLED SLIDER */
input[type='range'].styled-slider {
  height: 2.375rem;
  -webkit-appearance: none;
  appearance: none;
  cursor: ew-resize;
  @apply rounded-md border border-zinc-800 bg-zinc-950 p-0.5;
  --slider-bg: transparent;
  --slider-progress-bg: theme(colors.zinc.800);
  --slider-thumb-bg: #ffffff;
}

/*progress support*/
input[type='range'].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 0.5rem + var(--ratio) * (100% - 0.5rem));
}

input[type='range'].styled-slider:hover {
  @apply border-zinc-700;
}

input[type='range'].styled-slider:focus {
  outline: none;
}

input[type='range'].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0.5rem;
  height: 2rem;
  border-radius: 1rem;
  background: var(--slider-thumb-bg);
  border: none;
  box-shadow: none;
  margin-top: 0;
  transition: all 200ms ease-in-out;
}

input[type='range'].styled-slider::-moz-range-thumb {
  width: 0.5rem;
  height: 2rem;
  border-radius: 1rem;
  background: var(--slider-thumb-bg);
  border: none;
  box-shadow: none;
  transition: all 200ms ease-in-out;
}

input[type='range'].styled-slider:focus::-webkit-slider-thumb {
  @apply ring-grdt-to ring-2 ring-offset-2 ring-offset-zinc-950;
}

input[type='range'].styled-slider:focus::-moz-range-thumb {
  @apply ring-grdt-to ring-2 ring-offset-2 ring-offset-zinc-950;
}

input[type='range'].styled-slider::-webkit-slider-runnable-track {
  height: 2rem;
  border: none;
  border-radius: 0.25rem;
  background: var(--slider-bg);
  box-shadow: none;
}
input[type='range'].styled-slider::-moz-range-track {
  height: 2rem;
  border: none;
  border-radius: 0.25rem;
  background: var(--slider-bg);
  box-shadow: none;
}

input[type='range'].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background:
    linear-gradient(var(--slider-progress-bg), var(--slider-progress-bg)) 0 / var(--sx) 100% no-repeat,
    var(--slider-bg);
}
input[type='range'].styled-slider.slider-progress::-moz-range-track {
  background:
    linear-gradient(var(--slider-progress-bg), var(--slider-progress-bg)) 0 / var(--sx) 100% no-repeat,
    var(--slider-bg);
}

/* STYLED STEP SLIDER */
input[type='range'].styled-step-slider {
  height: 1rem;
  -webkit-appearance: none;
  appearance: none;
  cursor: ew-resize;
  background: transparent;
  --slider-bg: transparent;
  --slider-thumb-bg: #ffffff;
}

input[type='range'].styled-step-slider:hover {
  @apply border-zinc-700;
}

input[type='range'].styled-step-slider:focus {
  outline: none;
}

input[type='range'].styled-step-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background: none;
  border: none;
  box-shadow: none;
  transition: all 200ms ease-in-out;
}

input[type='range'].styled-step-slider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background: none;
  border: none;
  box-shadow: none;
  transition: all 200ms ease-in-out;
}

input[type='range'].styled-step-slider:focus::-webkit-slider-thumb {
  @apply ring-grdt-to ring-2 ring-offset-2 ring-offset-zinc-950;
}

input[type='range'].styled-step-slider:focus::-moz-range-thumb {
  @apply ring-grdt-to ring-2 ring-offset-2 ring-offset-zinc-950;
}

.animate-shooting-star {
  animation: infinite both cubic-bezier(0.55, 0.085, 0.68, 0.53) shooting-star;
}

@keyframes shooting-star {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100svh);
    opacity: 1;
  }
}

/* ANIMATE ONCE */
@keyframes moveAnimationOnce {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes widthAnimationOnce {
  0% {
    width: 25%;
  }
  100% {
    width: 75%;
  }
}
@keyframes heightAnimationOnce {
  0% {
    height: 25%;
  }
  100% {
    height: 75%;
  }
}
@keyframes scaleAnimationOnce {
  0% {
    transform: scale(1);
    border-width: 1px;
  }
  100% {
    transform: scale(3);
    border-width: 0.33px;
  }
}
@keyframes rotateAnimationOnce {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes opacityAnimationOnce {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotateXAnimationOnce {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}
@keyframes rotateYAnimationOnce {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
@keyframes shapeAnimationOnce {
  0% {
    border-radius: 0.75rem;
  }
  100% {
    border-radius: 50%;
  }
}
/* ANIMATE ONCE REVERSE */
@keyframes moveAnimationOnceReverse {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes widthAnimationOnceReverse {
  0% {
    width: 75%;
  }
  100% {
    width: 25%;
  }
}
@keyframes heightAnimationOnceReverse {
  0% {
    height: 75%;
  }
  100% {
    height: 25%;
  }
}
@keyframes scaleAnimationOnceReverse {
  0% {
    transform: scale(3);
    border-width: 0.33px;
  }
  100% {
    transform: scale(1);
    border-width: 1px;
  }
}
@keyframes rotateAnimationOnceReverse {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes opacityAnimationOnceReverse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotateXAnimationOnceReverse {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes rotateYAnimationOnceReverse {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes shapeAnimationOnceReverse {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0.75rem;
  }
}
/* ANIMATE INFINITE */
@keyframes moveAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    transform: translateX(-100%);
  }
  37.5%,
  62.5% {
    transform: translateX(100%);
  }
}
@keyframes widthAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    width: 25%;
  }
  37.5%,
  62.5% {
    width: 75%;
  }
}
@keyframes heightAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    height: 25%;
  }
  37.5%,
  62.5% {
    height: 75%;
  }
}
@keyframes scaleAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    transform: scale(1);
    border-width: 1px;
  }
  37.5%,
  62.5% {
    transform: scale(3);
    border-width: 0.33px;
  }
}
@keyframes rotateAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    transform: rotate(0deg);
  }
  37.5%,
  62.5% {
    transform: rotate(90deg);
  }
}
@keyframes opacityAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    opacity: 0;
  }
  37.5%,
  62.5% {
    opacity: 1;
  }
}
@keyframes rotateXAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    transform: rotateX(0deg);
  }
  37.5%,
  62.5% {
    transform: rotateX(90deg);
  }
}
@keyframes rotateYAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    transform: rotateY(0deg);
  }
  37.5%,
  62.5% {
    transform: rotateY(90deg);
  }
}
@keyframes shapeAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    border-radius: 0.75rem;
  }
  37.5%,
  62.5% {
    border-radius: 50%;
  }
}

/* ANIMATE WIGGLE ONCE */
@keyframes moveAnimationWiggleOnce {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes widthAnimationWiggleOnce {
  0% {
    width: 25%;
  }
  100% {
    width: 75%;
  }
}
@keyframes heightAnimationWiggleOnce {
  0% {
    height: 25%;
  }
  100% {
    height: 75%;
  }
}
@keyframes scaleAnimationWiggleOnce {
  0% {
    transform: scale(1);
    border-width: 1px;
  }
  100% {
    transform: scale(3);
    border-width: 0.33px;
  }
}
@keyframes rotateAnimationWiggleOnce {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes opacityAnimationWiggleOnce {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotateXAnimationWiggleOnce {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}
@keyframes rotateYAnimationWiggleOnce {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
@keyframes shapeAnimationWiggleOnce {
  0% {
    border-radius: 0.75rem;
  }
  100% {
    border-radius: 50%;
  }
}
/* ANIMATE WIGGLE INFINITE */
@keyframes moveAnimationWiggleInfinite {
  0%,
  25% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes widthAnimationWiggleInfinite {
  0%,
  25% {
    width: 25%;
  }
  100% {
    width: 75%;
  }
}
@keyframes heightAnimationWiggleInfinite {
  0%,
  25% {
    height: 25%;
  }
  100% {
    height: 75%;
  }
}
@keyframes scaleAnimationWiggleInfinite {
  0%,
  25% {
    transform: scale(1);
    border-width: 1px;
  }
  100% {
    transform: scale(3);
    border-width: 0.33px;
  }
}
@keyframes rotateAnimationWiggleInfinite {
  0%,
  25% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes opacityAnimationWiggleInfinite {
  0%,
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotateXAnimationWiggleInfinite {
  0%,
  25% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}
@keyframes rotateYAnimationWiggleInfinite {
  0%,
  25% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
@keyframes shapeAnimationWiggleInfinite {
  0%,
  25% {
    border-radius: 0.75rem;
  }
  100% {
    border-radius: 50%;
  }
}
