@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grdt-from: #5e18f5;
  --grdt-via: #50aaf8;
  --grdt-to: #6ae5b5;
  --border-active: #a1a1aa;
  --border-inactive: #27272a;
}

html,
body {
  @apply bg-zinc-950;
}

.lock-scroll {
  overflow: hidden;
}

/* STYLED SLIDER */
input[type='range'].styled-slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

input[type='range'].styled-slider:focus {
  outline: none;
}

input[type='range'].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0.5rem;
  height: 2rem;
  background: #ffffff;
}

input[type='range'].styled-slider::-moz-range-thumb {
  width: 0.5rem;
  height: 2rem;
  background: #ffffff;
}

.animate-shooting-star {
  animation: infinite both cubic-bezier(0.55, 0.085, 0.68, 0.53) shooting-star;
}

@keyframes shooting-star {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100svh);
    opacity: 1;
  }
}

.animate-appear {
  animation: appear var(--animation-duration, 0.75s) cubic-bezier(0.34, 1.56, 0.64, 1) backwards;
  animation-delay: var(--animation-delay, 0s);
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-appear-fast {
  animation: appear var(--animation-duration, 0.75s) cubic-bezier(0.34, 1.56, 0.64, 1) backwards;
  animation-delay: var(--animation-delay, 0s);
}

@keyframes appear-fast {
  0% {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-path {
  animation: movePath 1s linear;
  animation-fill-mode: backwards;
  stroke-dasharray: 450;
  stroke-dashoffset: 0;
  transition: all 1s;
  animation-delay: var(--animation-delay, 0s);

  &:hover {
    transform: scale(0.9);
    opacity: 0;
    stroke-dasharray: 600;
    stroke-dashoffset: 700;
  }
}

@keyframes movePath {
  0% {
    stroke-dasharray: 600;
    stroke-dashoffset: 700;
  }
  100% {
    stroke-dasharray: 450;
    stroke-dashoffset: 0;
  }
}

.animate-easteregg {
  --ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);
  --ease-in-quart: cubic-bezier(0.5, 0, 0.75, 0);
  --ease-in-expo: cubic-bezier(0.7, 0, 0.84, 0);
  --ease-in-out-sine: cubic-bezier(0.36, 0, 0.64, 1);
  --ease-in-out-quad: cubic-bezier(0.44, 0, 0.56, 1);
  --ease-in-out-cubic: cubic-bezier(0.66, 0, 0.34, 1);
  --ease-in-out-expo: cubic-bezier(0.9, 0, 0.1, 1);
  --ease-in-out-circ: cubic-bezier(0.85, 0.09, 0.15, 0.91);
  animation: easteregg-landing 4500ms var(--ease-in-out-cubic);
  /* animation-iteration-count: infinite; */

  .easteregg-leaving {
    animation: easteregg-leaving 4500ms var(--ease-in-quart) forwards;
    /* animation-iteration-count: infinite; */
  }

  .easteregg-shape {
    transform-origin: bottom;
    animation: easteregg-squish-and-stretch 4500ms var(--ease-in-out-cubic);
    /* animation-iteration-count: infinite; */
  }

  .easteregg-rotate {
    animation: easteregg-rotate 4500ms var(--ease-in-out-sine);
    /* animation-iteration-count: infinite; */
  }
}

@keyframes easteregg-landing {
  0% {
    transform: translateY(-300%);
  }
  30% {
    transform: translateY(-110%);
  }
  50% {
    transform: translateY(-60%);
  }
  70% {
    transform: translateY(-20%);
  }
  16%,
  24%,
  36%,
  44%,
  56%,
  64%,
  76%,
  100% {
    transform: translateY(0);
  }
}

@keyframes easteregg-leaving {
  0%,
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(300%);
  }
}

@keyframes easteregg-squish-and-stretch {
  0% {
    transform: scaleY(1.2) scaleX(0.8);
  }
  20% {
    transform: scaleY(0.6) scaleX(1.2);
  }
  30% {
    transform: scaleY(1) scaleX(1);
  }
  40% {
    transform: scaleY(0.75) scaleX(1.15);
  }
  50% {
    transform: scaleY(1.05) scaleX(0.95);
  }
  60% {
    transform: scaleY(0.9) scaleX(1.1);
  }
  70% {
    transform: scaleY(1.02) scaleX(0.97);
  }
  80% {
    transform: scaleY(0.95) scaleX(1.03);
  }
  85% {
    transform: scaleY(0.96) scaleX(1.02);
  }
  100% {
    transform: scaleY(1.1) scaleX(0.9);
  }
}

@keyframes easteregg-rotate {
  0%,
  25% {
    transform: rotate(0deg);
  }
  35%,
  100% {
    transform: rotate(360deg);
  }
}

/* ANIMATE ONCE */
@keyframes moveXAnimationOnce {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes moveYAnimationOnce {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes widthAnimationOnce {
  0% {
    width: 25%;
  }
  100% {
    width: 75%;
  }
}
@keyframes heightAnimationOnce {
  0% {
    height: 25%;
  }
  100% {
    height: 75%;
  }
}
@keyframes scaleAnimationOnce {
  0% {
    transform: scale(1);
    border-width: 1px;
  }
  100% {
    transform: scale(2);
    border-width: 0.33px;
  }
}
@keyframes rotateAnimationOnce {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes opacityAnimationOnce {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotateXAnimationOnce {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateX(179.9deg);
  }
}
@keyframes rotateYAnimationOnce {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateY(179.9deg);
  }
}
@keyframes shapeAnimationOnce {
  0% {
    border-radius: 0.75rem;
  }
  100% {
    border-radius: 50%;
  }
}
/* ANIMATE ONCE REVERSE */
@keyframes moveXAnimationOnceReverse {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes moveYAnimationOnceReverse {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes widthAnimationOnceReverse {
  0% {
    width: 75%;
  }
  100% {
    width: 25%;
  }
}
@keyframes heightAnimationOnceReverse {
  0% {
    height: 75%;
  }
  100% {
    height: 25%;
  }
}
@keyframes scaleAnimationOnceReverse {
  0% {
    transform: scale(2);
    border-width: 0.33px;
  }
  100% {
    transform: scale(1);
    border-width: 1px;
  }
}
@keyframes rotateAnimationOnceReverse {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes opacityAnimationOnceReverse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotateXAnimationOnceReverse {
  0% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateX(179.9deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes rotateYAnimationOnceReverse {
  0% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateY(179.9deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes shapeAnimationOnceReverse {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0.75rem;
  }
}
/* ANIMATE INFINITE */
@keyframes moveXAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    transform: translateX(-100%);
  }
  37.5%,
  62.5% {
    transform: translateX(100%);
  }
}
@keyframes moveYAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    transform: translateY(-100%);
  }
  37.5%,
  62.5% {
    transform: translateY(100%);
  }
}
@keyframes widthAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    width: 25%;
  }
  37.5%,
  62.5% {
    width: 75%;
  }
}
@keyframes heightAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    height: 25%;
  }
  37.5%,
  62.5% {
    height: 75%;
  }
}
@keyframes scaleAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    transform: scale(1);
    border-width: 1px;
  }
  37.5%,
  62.5% {
    transform: scale(2);
    border-width: 0.33px;
  }
}
@keyframes rotateAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    transform: rotate(0deg);
  }
  37.5%,
  62.5% {
    transform: rotate(90deg);
  }
}
@keyframes opacityAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    opacity: 0;
  }
  37.5%,
  62.5% {
    opacity: 1;
  }
}
@keyframes rotateXAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    transform: rotateX(0deg);
  }
  37.5%,
  62.5% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateX(179.9deg);
  }
}
@keyframes rotateYAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    transform: rotateY(0deg);
  }
  37.5%,
  62.5% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateY(179.9deg);
  }
}
@keyframes shapeAnimationInfinite {
  0%,
  12.5%,
  87.5%,
  100% {
    border-radius: 0.75rem;
  }
  37.5%,
  62.5% {
    border-radius: 50%;
  }
}

/* ANIMATE WIGGLE ONCE */
@keyframes moveXAnimationWiggleOnce {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes moveYAnimationWiggleOnce {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes widthAnimationWiggleOnce {
  0% {
    width: 25%;
  }
  100% {
    width: 75%;
  }
}
@keyframes heightAnimationWiggleOnce {
  0% {
    height: 25%;
  }
  100% {
    height: 75%;
  }
}
@keyframes scaleAnimationWiggleOnce {
  0% {
    transform: scale(1);
    border-width: 1px;
  }
  100% {
    transform: scale(2);
    border-width: 0.33px;
  }
}
@keyframes rotateAnimationWiggleOnce {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes opacityAnimationWiggleOnce {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotateXAnimationWiggleOnce {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateX(179.9deg);
  }
}
@keyframes rotateYAnimationWiggleOnce {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateY(179.9deg);
  }
}
@keyframes shapeAnimationWiggleOnce {
  0% {
    border-radius: 0.75rem;
  }
  100% {
    border-radius: 50%;
  }
}

/* ANIMATE WIGGLE ONCE REVERSE */
@keyframes moveXAnimationWiggleOnceReverse {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes moveYAnimationWiggleOnceReverse {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes widthAnimationWiggleOnceReverse {
  0% {
    width: 25%;
  }
  100% {
    width: 75%;
  }
}
@keyframes heightAnimationWiggleOnceReverse {
  0% {
    height: 25%;
  }
  100% {
    height: 75%;
  }
}
@keyframes scaleAnimationWiggleOnceReverse {
  0% {
    transform: scale(1);
    border-width: 1px;
  }
  100% {
    transform: scale(2);
    border-width: 0.33px;
  }
}
@keyframes rotateAnimationWiggleOnceReverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes opacityAnimationWiggleOnceReverse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotateXAnimationWiggleOnceReverse {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateX(179.9deg);
  }
}
@keyframes rotateYAnimationWiggleOnceReverse {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateY(179.9deg);
  }
}
@keyframes shapeAnimationWiggleOnceReverse {
  0% {
    border-radius: 0.75rem;
  }
  100% {
    border-radius: 50%;
  }
}

/* 0%,
12.5%,
87.5%,
100% {
  transform: translateX(-100%);
}
37.5%,
62.5% {
  transform: translateX(100%);
} */

/* ANIMATE WIGGLE INFINITE */
@keyframes moveXAnimationWiggleInfinite {
  0%,
  25% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes moveYAnimationWiggleInfinite {
  0%,
  25% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes widthAnimationWiggleInfinite {
  0%,
  25% {
    width: 25%;
  }
  100% {
    width: 75%;
  }
}
@keyframes heightAnimationWiggleInfinite {
  0%,
  25% {
    height: 25%;
  }
  100% {
    height: 75%;
  }
}
@keyframes scaleAnimationWiggleInfinite {
  0%,
  25% {
    transform: scale(1);
    border-width: 1px;
  }
  100% {
    transform: scale(2);
    border-width: 0.33px;
  }
}
@keyframes rotateAnimationWiggleInfinite {
  0%,
  25% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes opacityAnimationWiggleInfinite {
  0%,
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotateXAnimationWiggleInfinite {
  0%,
  25% {
    transform: rotateX(0deg);
  }
  100% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateX(179.9deg);
  }
}
@keyframes rotateYAnimationWiggleInfinite {
  0%,
  25% {
    transform: rotateY(0deg);
  }
  100% {
    /* 179.9 instead of 180 prevents a rotation in the wrong direction when the curve first goes into negative values */
    transform: rotateY(179.9deg);
  }
}
@keyframes shapeAnimationWiggleInfinite {
  0%,
  25% {
    border-radius: 0.75rem;
  }
  100% {
    border-radius: 50%;
  }
}
